/* General reset */

html,
body,
p,
h1,
h2,
ul,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
p {
    margin-bottom: 18px;
}

/* ========== General ============ */

body {
    font-family: 'Roboto', sans-serif;
}

.column {
    width: 70%;
    margin: 0 auto;
}

/* ============ Background colors ============ */

.dark-bg {
    background-color: #1F2937;
}

.gray-bg {
    background-color: #E5E7EB;
}

/* ============ Text ============ */

.header-txt {
    color: #F9FAF8;
    font-weight: 900;
}

.main-txt {
    color: #E5E7EB;
}

.center-txt {
    text-align: center;
}

/* ============ Link styles ============ */

a {
    white-space: nowrap;
}

a.btn {
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: 700;
    text-decoration: none;
    color: #E5E7EB;
}

a.white-border {
    border: 2px solid white;
}

/* ============ Flex ============ */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
}

.center-x {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

/* ========== Specific style rules ========== */

/* Header */

header {
    padding: 16px 0;
}

/* Navigation */

.navlinks {
    list-style: none;
    gap: 16px;
}

.navlinks a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Hero */

.hero {
    padding: 64px 0px;
    gap: 32px;
}

/* Information & Cards */

.information h2 {
    margin: 32px 0;
}

.cards {
    gap: 32px;
    margin-bottom: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 128px;
    align-items: center;
}

.card .thumbnail {
    width: 128px;
    height: 128px;
    border: 2px solid blue;
    border-radius: 10%;
}

.card p {
    margin-top: 8px;
}

/* Quote */

div:has(> blockquote) {
    padding: 64px 0;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
}

blockquote+p {
    text-align: right;
    font-weight: 700;
}

/* Callout */

div:has(.callout) {
    padding: 64px 0;
}

.callout {
    padding: 40px 40px;
    background-color: #3882F6;
    border-radius: 10px;
    gap: 32px;
}

.callout h2 {
    margin: 0;
}

.callout p {
    margin: 0;
}

/* Footer */

footer {
    padding: 16px 0;
}

footer p {
    margin: 0;
}